body {
    background-color: #181818;
    overflow: hidden;
}

.container-sm {
    max-width: 30em;
    margin: auto;
    height: 100vh;
}

#planetPageContainer {
    overflow: auto;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Sen', sans-serif;;
    font-style: normal;
    font-weight: 900;
    font-size: 2.5em;
    margin-bottom: 20vh;
}

h2 {
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    text-align: center;
}

h3 {
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 700;
}

h4 {
    color: white;
    text-align: center;
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1.8em;
    margin-bottom: 4vh;
}

/* Left align the text on the Sally page */
.center {
    color: white;
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5em;
    margin-bottom: 4vh;
    text-align: center;
}


/* Styles for the three lines on the Sally page */
.line1 {
    position: relative;
    width: 6.8em;
    float: right;
    top: -1em;
    border-top: 1px solid #F3F3F3;
}

.line2 {
    position: relative;
    width: 10em;
    float: right;
    left: 6.8em;
    top: 0em;
    border-top: 1px solid #F3F3F3;
}

.line3 {
    position: relative;
    width: 15em;
    float: right;
    top: 1em;
    border-top: 1px solid #F3F3F3;
    margin-bottom: 3em;
}

/* End styles for the lines */

.filler {
    height: 30vh;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.planet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10em;
}

/* Section for the planets */
.choosePlanet {
    display: flex;
    width: 18em;
    margin-bottom: 2vh;
    border-radius: 10px;
    transition: all 0.3s;
}

.choosePlanet:hover {
    opacity: 70%;
}

.planetDiv {
    display: flex;
}

.centered {
    position: absolute;
    top: 16vh;
    left: 6em;
    right: 6em;
}
/* End section for the planets */


/* Section for the station page */
.stationImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 25vh;
    min-height: 10vh;
    padding-bottom: 2vh;
    margin-top: 4vh;
}

.stationCentered {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    position: relative;
    text-align: center;
    color: white;
}

.centeredStation {
    position: absolute;
    top: 17.5vh;
    left: 6em;
    right: 6em;
}

.playButton {
    position: absolute;
    margin-left: -6em;
    top: -1em;
    height: 5vh;
    min-height: 1vh;
}

#stationList {
    overflow: auto;
    max-height: 40vh;
}

.option {
    text-align: center;
    color: white;
}

.optionButton {
    width: 100%;
    height: 4em;
    background-color: #3C3C3C;
    border: 2px solid white;
    border-radius: 10px;
}

.optionText {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    position: absolute;
    top: 1.5em;
    left: 7em;
    right: 6em;
    color: white;
}
/* End section for the station page */

iframe {
    display: block;
    margin: auto;
    height: 10em;
    width: 22em;
    margin-bottom: 4vh;
    padding-left: .5vw;
    padding-right: .5vw;
}

.btn-primary {
    background-color: #AC51AE !important;
    outline-color: #AC51AE !important;
    width: 20em;
    height: 4.5em;
}

.btn-primary h2 {
    margin-top: 0.3em;
}

.nav-bar-btn {
    height: 60px;
    width: 60px;
    background-color: #513F91;
}

.nav-bar-btn-lg {
    height: 80px;
    width: 80px;
}

.planet-btn {
    align-self: baseline;
}

.nation-btn {
    align-items: baseline;
}

.nav-icon {
    font-size: 2em;
}

.stations-btn {
    border-radius: 100%;
    background-color: #AC51AE;
}

.nav-bar {
    margin: 0 auto;
    padding: 20px;
    background-color: #181818;
    flex-direction: row;
    display: flex;
    box-shadow: 0px -1px 10px #181818;
}

.nav-section {
    flex: 1;
}

.nation-btn-cont {
    align-self: center;
}

.station-btn-cont {
    display: flex;
    justify-content: center;
}

.planet-btn-cont {
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

.modal-medium {
    width: 80%;
    max-width: 500px;
    margin: auto;
}

.modal-img {
    width: 100%;
}

.modal-large {
    max-width: 30em;
    justify-content: center;
    margin: auto;
    height: 90%;
}

.modal-large-content {
    background-color: #3C3C3C;
}

.modal-large-footer {
    justify-content: center;
    padding: 0;
}

.btn-warning {
    width: 90%;
    max-width: 400px;
    margin-bottom: 1.5em;
    margin-top: 50px;
    background-color: red;
}

.light {
    color: #F3F3F3;
}

.no-border {
    border-color: null;
    border-width: 0;
}

.modal-body-large {
    max-height: 600px;
    display: flex;
}

.btn-close {
    margin: 0 auto;
    margin-top: 1em;
}

#stationsModal.modal.fade .modal-dialog {
    transform: translate3d(0, 100vh, 0);
}

#stationsModal.modal.show .modal-dialog {
    transform: translate3d(0, 10vh, 0);
}

#stationModalDialog {
    width: 100%;
}

#stationModalContent {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#stationsModalLabel {
    margin: 0 auto;
    margin-top: -0.65em;
}

.station-list {
    width: 100%;
    justify-self: center;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    margin-top: -1em;
}

.station-list-item {
    list-style: none;
}

.station-list-btn {
    padding: 0;
    width: 100%;
}

.station-list-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}

.station-list-img {
    flex: 1;
    margin: 0.5em;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 2.5em;
    height: 2.5em;
}

.station-list-title {
    flex: 10;
    display: flex;
    margin: 0.5em;
    margin-left: 1.5em;
    justify-content: flex-start;
    align-self: center;
    font-family: 'Sen', sans-serif;;
    font-style: normal;
    font-weight: 700; 
}

.station-list-check {
    flex: 2;
    margin: 0.5em;
    display: flex;
    height: 30%;
    justify-content: flex-end;
    align-self: center;
}

/* Section for the final score page */
.container2 {
    background: linear-gradient(180deg, #3E3E3E 0%, #2C2C2C 100%);
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 20em;
    height: 70vh;
    min-height: 30em;
}

/* rounds the corner of a container */
.rounded {
    border-radius: .8rem !important
}

.buffer2 {
    height: 4em;
    z-index: 100;
}

.nation {
    float: left;
    padding-top: .8em;
    padding-left: .5em;
    width: auto;
    height: auto;
    margin-top: 1em;
}

.flag {
    width: 4em;
    height: 2em;
}

.FinalScoreNationText {
    display: inline;
    font-size: 1em;
}

.planet {
    float: right;
    padding-top: .3em;
    padding-right: .5em;
    width: auto;
    height: auto;
    margin-top: 1em;
}

.FinalScorePlanet {
    width: 3em;
    height: 3em;
}

.FinalScorePlanetText {
    display: inline;
    font-size: 1em;
}

.MainBar {
    margin-top: 2em;
}

.icon {
    padding-top: .35em;
}

.percent {
    position: absolute;
    /* font-family: 'Sen';
    font-style: normal; */
    font-weight: 700;
    font-size: 1em;
    color: #F3F3F3;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.text {
    position: absolute;
    /* font-family: 'Sen';
    font-style: normal; */
    font-weight: 700;
    font-size: 1em;
    color: #FFFFFF;
    padding-left: 1em;
    top: 50%;
    transform: translateY(-50%);
}

.bar {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
    min-width: 10em;
    height: 6vh;
    min-height: 2em;
    float: right;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 50.52%, rgba(255, 255, 255, 0.2) 100%);
    border-radius: 10px;
}

.fill {
    display: block;
    margin-right: auto;
    height: 6vh;
    min-height: 2em;
    border-radius: 10px;
}

.health {
    width: 14em;
    min-width: 7em;
    background: linear-gradient(180deg, #DC2F2F 0%, #B70A0A 46.88%, #D72626 100%);
}

.morale {
    width: 10em;
    min-width: 5em;
    background: linear-gradient(180deg, #D1CB2F 0%, #A8A20F 53.12%, #DFD832 100%);
}

.sustainability {
    width: 12em;
    min-width: 6em;
    background: linear-gradient(180deg, #4EB94C 0%, #137511 52.08%, #2D8E2B 100%);
}

.economy {
    width: 5em;
    min-width: 2.5em;
    background: linear-gradient(180deg, #671186 0%, #4C0963 51.04%, #671186 100%, #671186 100%);
}

.defense {
    width: 8em;
    min-width: 4em;
    background: linear-gradient(180deg, #3891B7 0%, #25789B 49.48%, #3891B7 100%);
}

::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

.buffer {
    height: 100px;
    z-index: 100;
}

.btn-next {
    margin-bottom: 4em;
}

.btn-depart {
    position: relative;
    height: 3em;
    background-color: #E0E34F;
}

#departButtonText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-outline-success {
    margin: auto;
    background-color: #3C3C3C;
    color: #FFF;
    border-color: transparent;
    width: 65%;
}

.btn-outline-success:hover {
    border: 1px solid #137511;
}

.btn-success {
    background-color: #2F8241;
    color: #FFF;
    border-color: transparent;
}

#fillerOption {
    background-color: transparent;
    color: transparent;
    border: none;
    pointer-events: none;
}